:root {
    --fundo-principal: #f1f1e6;
    --fundo-principal-hover: #e6ffe9;
    --destaque-secundario: #a4adf3;
    --texto-principal: #02000c;
    --destaque-principal: #3bb49a;
    --botao-hover: #258872;
    --fundo-card: #cae8dd;
    --fundo-card-hover: #a7d9c7;
    --footer: #50b490;
}

[tema="dark"] {
    --fundo-principal: #1a1b1e;
    --fundo-principal-hover: #0b0e0c;
    --destaque-secundario: #4a55a5;
    --texto-principal: #e6e6e6;
    --fundo-card: #242529;
    --fundo-card-hover: #2f3036;
    --footer: #208a73;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--fundo-principal);
    color: var(--texto-principal);
}

header {
    background: url(./images/xiao/namecard.png) center / cover no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    position: sticky;
    top: 0;
    z-index: 100;
}

header .nome-icone {
    display: flex;
    align-items: center;
    gap: .8rem;
}

header .nome-icone img {
    width: 48px;
    height: 48px;
}

header h1 {
    color: var(--fundo-principal);
    font-size: 1.5rem;
}

#menu-desktop {
    display: none;
}

#menu-desktop a,
#menu-mobile a {
    text-decoration: none;
    color: var(--fundo-principal);
    transition: color .3s ease;
}

#menu-desktop a:hover,
#menu-mobile a:hover {
    color: white;
}

header .botoes {
    display: flex;
    gap: 1rem;
}

#btn-tema,
#btn-idioma,
#btn-toggle {
    background: none;
    border: none;
    font-size: 1.1rem;
    color: var(--fundo-principal);
    transition: color .3s ease;
}

#btn-tema:hover,
#btn-idioma:hover,
#btn-toggle:hover {
    color: white;
    cursor: pointer;
}

#menu-mobile {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--destaque-principal);
    width: 150px;
    top: 80px;
    right: 10px;
    position: fixed;
    border-radius: .5rem;
    z-index: 100;
}

#menu-mobile.show {
    display: flex;
}

main .grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    padding-inline: 20px;
}

main #sobre {
    padding: 1rem;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: var(--fundo-card);
    width: calc(100% + 40px);
    margin-inline: -20px;
    box-shadow: 2px 2px 6px rgba(0,0,0,.2);
}

main #conteudo-secundario {
    padding: 1rem 1.5rem 0 1.5rem;
}

main #conteudo-secundario h2 {
    margin-bottom: 10px;
} 

main #conteudo-secundario p {
    line-height: 1.4;
    text-align: justify;
}

#videos {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

section {
    scroll-margin-top: 65px;
}

.grid-secoes {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.grid-secoes #artefatos {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding-top: 1rem;
}

.grid-secoes #armas {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    background-color: var(--fundo-card);
    width: calc(100% + 40px);
    margin-inline: -20px;
    box-shadow: 2px 2px 6px rgba(0,0,0,.2);
    padding-top: 1rem;
}

.grid-secoes #times {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    padding-top: 1rem;
}

#artefatos .grid-cards,
#armas .grid-cards,
#times .grid-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-bottom: 2rem;
}

#artefatos .card-artefato,
#armas .card-arma,
#times .card-time {
    border-radius: 1rem;
    padding: 1rem;
    margin: .5rem auto;
    width: 90%;
    box-shadow: 2px 2px 6px rgba(0,0,0,.2);
    transition: background-color .3s ease;
}

#artefatos .card-artefato,
#times .card-time {
    background-color: var(--fundo-card);
}

#artefatos .card-artefato:hover,
#times .card-time:hover {
    background-color: var(--fundo-card-hover);
}

#armas .card-arma {
    background-color: var(--fundo-principal);
}

#armas .card-arma:hover {
    background-color: var(--fundo-principal-hover);
}

#artefatos .card-artefato p,
#armas .card-arma p {
    font-size: 0.85rem;
    line-height: 1.4;
    text-align: justify;
}

#artefatos .card-artefato div,
#armas .card-arma div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
}

.titulos {
    display: flex;
    align-items: center;
    margin-inline: 40px;
}

.titulos h3 {
    padding-left: 20px;
}

#armas .card-arma,
#artefatos .card-artefato {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
}

#armas img,
#artefatos img,
#times img,
#contato img {
    width: 64px;
    height: 64px;
    margin-bottom: 1rem;
}

.container-times {
    display: flex;
    flex-direction: column;    
}

#times .card-time p {
    font-size: 1rem;
    line-height: 1.6;
    text-align: center;
}

#times .card-time div {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

#parallax {
    background: url(./images/xiao/xiaolumi.png) center / cover no-repeat fixed;
    width: calc(100% + 40px);
    margin-inline: -20px;
    height: 200px;
}

#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grupo-form {
    background-color: var(--destaque-secundario);
    border-radius: 1rem;
    width: 70%;
    height: auto;
    margin: 1rem auto;
}

#contato form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
}

#contato form button {
    background-color: var(--destaque-principal);
    color: var(--texto-principal);
    width: 20%;
    border: none;
    padding: 0.8rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: all .5s ease;
    margin: 0 auto;
}

#contato form button:hover {
    background-color: var(--botao-hover);
    transform: scale(1.05);
}

.container-form {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
}

input[type="text"],
textarea {
    width: 100%;
    background-color: var(--fundo-principal);
    outline: none;
    border: 0.1rem solid var(--destaque-principal);
    padding: 0.8rem;
    border-radius: 5px;
    resize: none;
    color: var(--texto-principal);
}

textarea {
    height: 7rem;
    overflow: auto;
}

footer {
    background-color: var(--footer);
    text-align: center;
    padding: .5rem;
    color: white;
    font-size: .9rem;
}

@media (min-width: 768px) {
    main .container {
        max-width: 800px;
    }

    #menu-desktop {
        display: flex;
        gap: 1rem;
    }

    #menu-mobile.show,
    #btn-toggle {
        display: none;
    }

    #videos {
        flex-direction: row;
    }

    #artefatos .grid-cards,
    #armas .grid-cards {
        grid-template-columns: 1fr 1fr;
    }

    #armas .card-arma:nth-child(1),
    #armas .card-arma:nth-child(4) {
        margin-left: 40px;
    }

    #armas .card-arma:nth-child(3),
    #armas .card-arma:nth-child(6) {
        margin-right: 40px;
    }

    #times img.personagem {
        width: 96px;
        height: 96px;
    }
}

@media (min-width: 1024px) {
    main .container {
        max-width: 1000px;
    }

    #menu-desktop {
        display: flex;
        gap: 3rem;
    }

    #armas .grid-cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #times .grid-cards {
        grid-template-columns: 1fr 1fr;
    }

    #times img.personagem {
        width: 128px;
        height: 128px;
    }
}