:root {
    --fundo-principal: #f1f1e6;
    --destaque-secundario: #4a55a5;
    --texto-principal: #02000c;
    --destaque-principal: #3bb49a;
    --fundo-card: #cae8dd;
    --fundo-card-hover: #a7d9c7;
    --footer: #50b490;
}

[tema="dark"] {
    --fundo-principal: #1a1b1e;
    --texto-principal: #e6e6e6;
    --fundo-card: #242529;
    --fundo-card-hover: #2f3036;
    --footer: #208a73;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--fundo-principal);
    color: var(--texto-principal);
}

header {
    background: url(./images/xiao/namecard.png) center / cover no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    position: sticky;
    top: 0;
    z-index: 100;
}

header .nome-icone {
    display: flex;
    align-items: center;
    gap: .8rem;
}

header .nome-icone img {
    width: 48px;
    height: 48px;
}

header h1 {
    color: var(--fundo-principal);
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px black;
}

#menu-desktop {
    display: none;
}

#menu-desktop a,
#menu-mobile a {
    text-decoration: none;
    color: var(--fundo-principal);
    transition: color .3s ease;
}

#menu-desktop a:hover,
#menu-mobile a:hover {
    color: white;
}

header .botoes {
    display: flex;
    gap: 1rem;
}

#btn-tema,
#btn-idioma,
#btn-toggle {
    background: none;
    border: none;
    font-size: 1.1rem;
    color: var(--fundo-principal);
    transition: color .3s ease;
}

#btn-tema:hover,
#btn-idioma:hover,
#btn-toggle:hover {
    color: white;
    cursor: pointer;
}

#menu-mobile {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--destaque-principal);
    width: 150px;
    top: 80px;
    right: 10px;
    position: fixed;
    border-radius: .5rem;
    z-index: 100;
}

#menu-mobile.show {
    display: flex;
}

main .grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    padding: 1rem;
}

main #sobre {
    padding: 1rem;
}

main #conteudo-secundario h2 {
    margin-bottom: 10px;
} 

main #conteudo-secundario p {
    line-height: 1.4;
    text-align: justify;
}

main .container {
    position: relative;
    max-width: 320px;
    margin: 1rem auto;
}

section {
    scroll-margin-top: 70px;
}

.galeria-wrapper {
    overflow: hidden;
    border-radius: 1rem;
}

.galeria {
    display: flex;
    transition: transform 0.6s ease;
}

.galeria img {
    width: 320px;
    height: 320px;
    object-fit: cover;
    flex-shrink: 0;
    opacity: 0.6;
    transition: opacity .3s ease-in-out;
}

.galeria img.active {
    opacity: 1;
}

.grid-secoes {
    display: grid;
    gap: 2rem;
}

#artefatos .card-artefato,
#armas .card-arma,
#times .card-time {
    background-color: var(--fundo-card);
    border-radius: 1rem;
    padding: 1rem;
    margin: .5rem auto;
    width: 90%;
    box-shadow: 2px 2px 6px rgba(0,0,0,.2);
    transition: background-color .3s ease;
}

#artefatos .card-artefato:hover,
#armas .card-arma:hover,
#times .card-time:hover {
    background-color: var(--fundo-card-hover);
}

#artefatos .card-artefato p,
#armas .card-arma p {
    font-size: 0.85rem;
    line-height: 1.4;
    text-align: justify;
}

#artefatos .card-artefato div,
#armas .card-arma div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
}

.titulos {
    display: flex;
    align-items: center;
}

.titulos h3 {
    padding-left: 20px;
}

#armas .card-arma,
#artefatos .card-artefato {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
}

#armas img,
#artefatos img,
#times img {
    width: 60px;
    height: 60px;
}

.container-times {
    display: flex;
    flex-direction: column;    
}

#times .card-time p {
    font-size: 1rem;
    line-height: 1.6;
    text-align: center;
}

#times .card-time div {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.container-form {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
}

input[type="text"],
textarea {
    width: 100%;
    background-color: var(--fundo-principal);
    outline: none;
    border: 0.1rem solid var(--destaque-principal);
    padding: 0.8rem;
    border-radius: 5px;
    resize: none;
    color: var(--texto-principal);
}

footer {
    background-color: var(--footer);
    text-align: center;
    padding: .5rem;
    color: white;
    font-size: .9rem;
}

@media (min-width: 768px) {
    main .container {
        max-width: 800px;
    }

    #menu-desktop {
        display: flex;
        gap: 1rem;
    }

    #menu-mobile.show,
    #btn-toggle {
        display: none;
    }
}

@media (min-width: 1024px) {
    main .container {
        max-width: 1000px;
    }

    #menu-desktop {
        display: flex;
        gap: 3rem;
    }

    .grid-secoes {
        grid-template-columns: 1fr 1fr 1fr;
    }
}