:root {
    --fundo-principal: #e0d5de;
    --fundo-card: #4a55a5;
    --texto-principal: #02000c;
    --destaque-principal: #318c6a;
    --destaque-secundario: #816ba5;
    --footer: #50b490;
}

[tema="dark"] {
    --fundo-principal: #02000c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--fundo-principal);
}

header {
    background-color: var(--destaque-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

header .nome-icone {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem; 
}

header .nome-icone img {
    width: 48px;
    height: 48px;
}

header h1 {
    color: var(--fundo-principal);
    font-size: 1.5rem;
}

#menu-desktop {
    display: none;
}

#menu-desktop a {
    text-decoration: none;
    color: var(--fundo-principal);
    transition: color .3s ease;
}

#menu-desktop a:hover {
    color: white;
}

#btn-tema,
#btn-idioma,
#btn-toggle {
    background: none;
    border: none;
    font-size: 1rem;
    color: var(--fundo-principal);
    transition: color .3s ease;
}

#btn-tema:hover,
#btn-idioma:hover,
#btn-toggle:hover {
    color: white;
    cursor: pointer;
}

header .botoes {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-right: 1rem;
}

#menu-mobile {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    background-color: var(--fundo-card);
    width: 150px;
    top: 80px;
    right: 2px;
    position: fixed;
    z-index: 100;
}

#menu-mobile a {
    text-decoration: none;
    color: var(--fundo-principal);
}

#menu-mobile.show {
    display: flex;
}

main .grid {
    display: grid;
    grid-template-rows: 200px 1fr;
}

main #conteudo-secundario {
    grid: 1 / 1 / 2 / 3;
    background-color: var(--fundo-principal);
}

main #conteudo-principal {
    grid: 2 / 1 / 3 / 3;
}

.grid-secoes {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-secoes #artefatos {
    grid: 1 / 1 / 2 / 2;
    background-color: pink;
}

.grid-secoes #armas {
    grid: 1 / 2 / 2 / 3;
    background-color: coral;
}

.grid-secoes #times {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    background-color: dodgerblue;
}

footer {
    background-color: var(--footer);
    text-align: center;
    padding: 5px;
}
